[Unit]
Description=Weston Headless
After=network.target

[Service]
ExecStart=/usr/bin/weston --backend=headless-backend.so --idle-time=0
Restart=always
User=root
Environment="XDG_RUNTIME_DIR=/run/user/0"

[Install]
WantedBy=multi-user.target
